* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --red: red;
    --orange: rgb(239, 186, 42);
    --dark-grey: #414a4c;
    --white: white;
    --green: green;
    --black: black;
}

p {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 0;
}

section {
    padding: 2em 1em;
}

.main-heading {
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto 4rem;
    border-bottom: 2px solid var(--orange);
    padding: 0.5em;
    width: 325px;
}

.list-image {
    list-style-image: url('./images/chevron-right.png');
    margin: 2em;
}

.list-image li {
    padding: 0.5em 0 0.5em 1em;
}

.inner-list li {
    list-style-type: disc;
}

#aboutSection {
    position: relative;
    margin: 1em;
}
/* Navigation Bar */

.flex-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    
.switchContainer {
    padding: 1px;
    }
    
.switch {
    width: 50px;
    height: 20px;
    background: var(--red);
    margin: 0rem 0.5rem;
    border-radius: 25px;
    position: relative;
    }
    
.controller {
    width: 17px;
    height: 17px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    position: absolute;
    top: 1.6px;
    left: 2px;
    }

.styletoggle {
    background-color: var(--dark-grey);
    color: white;
    }
    
.switchtoggle {
    background-color: var(--green);
    }
    
.righttoggle {
    background-color: var(--white);
    left: 31px;
    }

.flex-display-column {
    display: flex;
    }
    
.nav-links {
    list-style: none;
    padding: 0rem 1rem;
    position: relative;
    }
    
.navstyle {
    background-color: var(--orange);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 2;
    }
    
.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    
    }

a {
    color: var(--black);
}

.linkcolor {
    color: var(--white);
}

.nav-links a:hover {
    padding-bottom: 9px;
    border-bottom: 3px solid var(--black);
    border-width: 2px;

    }

.hero-image {
    position: relative;
    max-width: 1900px;
    height: 400px;
    overflow: hidden;
    }

.hero-image img {
    position: absolute;
    top: -20em;
    width: 1704px;

    }

/* About Me Section */

.card-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.aboutme-card {
    position: absolute;
    top: 10rem;
    left: 45%;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 12px var(--orange);
    z-index: 2;
    background-color: white;   
    }
    
.card-content {
    padding: 3px;
    }
    
.aboutme-details {
    width: auto;
    height: auto;
    left: 5%;
    padding: 3px;
    height: 300px;
    border-radius: 15px;
    transition: 0.4s ease-in;
    flex-direction: row;
    }
    
.profile-img {
    width: 100%;
    }

.image-hover {
    width: 30%;
    padding: 1rem;
}
    
.no-display {
    display: none;
    }

#aboutSection li {
    margin: 1rem auto;
    }
    
.aboutMe {
    margin: 0 1em;
    }

        /* Portfolio section  */

.objWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border-radius: 10px;
    }
    
.imgWrapper {
    position: relative;
    min-width: 350px;
    min-height: 200px;
    overflow: hidden;
    margin: 2em 1em;
    filter: drop-shadow(1px 1px 3px var(--black));
    }

.imgWrapper img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    /* filter: drop-shadow(1px 1px 3px var(--black)); */
    }

.imgWrapper img:hover {
    width: 130%;
    top: -3em;
    left: -2em;
    transition: width 1s ease-out, top 1s ease-out, left 1s ease-out;
    }
        
#myPortfolio h2 {
    text-align: center;
    margin: 1em;
}

/* Section Form Contact */

#contactSection {
    position: fixed;
    top: 5em;
    right: -18.4em;
    background-color: var(--orange);
    filter: drop-shadow(2px 2px 3px var(--black));
    border-radius: 5px;
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1em;
    text-align: center;
    position: relative;

}


.sidebar {
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation:upright;
    background-color: var(--orange);
    position: absolute;
    top: 30%;
    right: 290px;
    padding: 2px;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
}

.myForm input, textarea {
    margin: 0.5em;
    padding: 0.5em;
    /* border-radius: 10px; */
}

.myForm input:focus-visible, textarea:focus-visible {
    outline: 2px solid var(--red);
    border-radius: 2px;
}


.myForm input[type="submit"] {
    width: 50%;
    margin:auto;
}

#contactSection{
    padding-top: 1em;
}

.flex-display-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--orange);
    padding: 0.5em 1em;
    bottom: 0;
}

.flex-display-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

footer p{
    font-size: smaller;
    
}

footer strong {
    font-size: small;
}

footer li{
    margin: 0 1em;
    list-style: none;
    
}

h3 {
    font-size: small;
    margin-bottom: 1em;
}

.adiv {
    width: 30%;
}

.bdiv {
    width: 70%;
    text-align: center;
}

.flex-display-social li a {
    text-decoration: none;
}

/* @media screen and (max-width: 900px) {
    .aboutme-card {
        border: none;
        box-shadow: none;
        background-color: white;   
        flex-direction: column;
    }
} */


@media screen and (max-width: 700px) {
    .flex-display-column {
      flex-direction: column;
      padding: 0;
    }

    .aboutme-card {
        position: inherit;
        width: auto;
        height: auto;
        transition: none;
        flex-direction: column;
        display: block;
        /* visibility: hidden; */
    }

    .hero-image img {
        left: -20em;
    }

    /* .aboutme-details {
        width: auto;
        height: auto;
        padding: 3px;
        flex-direction: column;
        } */

    .objWrapper:nth-child(even) {
        flex-direction: column;

    }

    .objWrapper:nth-child(odd) {
        flex-direction: column-reverse;

    }

    


  }